################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TriangleHuntWebapp/bin/Debug/netcoreapp3.0
