################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TriangleHuntWebapp/bin/Debug/netcoreapp3.0
/TriangleHunt/bin/Debug/netstandard2.0
/TriangleHunt.Tests/bin/Debug/netcoreapp3.0
/TriangleHunt.Tests/obj
/TriangleHunt/obj
/TriangleHuntWebapp/obj/Debug/netcoreapp3.0
/TriangleHuntWebapp/obj/Release/netcoreapp3.0
/TriangleHuntWebapp/obj
/.vs/Cherwell/v16/.suo
/.vs
/TriangleSearchWebapp.Tests/bin/Debug/netcoreapp3.1
/TriangleSearchWebapp.Tests/obj/Debug/netcoreapp3.1
/TriangleSearchWebapp.Tests/obj
